.card-line {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.min-text {
  font-size: 0.75rem;
}

.card-header {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-header-btns {
  display: flex;
  gap: 0.5rem;
}
