body {
  font-family: sans-serif;
  background: #111;
  color: #fff;
}

a {
  color: #fff;
}

hr {
  border: #333 1px solid;
  border-bottom: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

li + li {
  margin-top: 0.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Ubuntu", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
