.del-btn {
  padding: 0.3rem 0.5rem;
  border-radius: 0.25rem;
  border: transparent;
  background: #633;
  color: #fff;
  cursor: pointer;
  transition: all 0.15s;
}

.del-btn:hover {
  background: #d44;
}
